<% content_for :dashboard_css do  %>
  <%= stylesheet_link_tag "db_forms", :media => "all" %>
<% end %>

<div class="container">
  <div class="row-fluid status_title_border status_head">
    <div class="span12">
      <div class="row-fluid">
        <div class="span2 status_title_text_border" style="padding: 5px;">
          <div class="db_profile">
            <%= get_profile_image(current_user.user_profile) %>
          </div>
        </div>
        <div class="span3">
          <div class="status_title_text_border">
            <div class="status_title"><span title="translation missing: en.dashboard.membership" class="translation_missing"><%= t('dashboard.membership') %></span></div>
            <div class="status_title_text"><%= membership_link @profile_user.membership_type %></div>
          </div>
        </div>

        <div class="span3">
          <div class="status_title_text_border">
            <div class="status_title"><%= t('dashboard.influence_meter') %></div>
            <div class="status_title_progress">
              <div class="progress prefer_prog_height progress-danger">
                <div class="bar progress_bar_width" style="width:<%= "#{current_user.set_influence_meter_score}%" %>;"><div class="profress_bar_text"></div></div>

              </div>
            </div>
          </div>
        </div>

        <div class="span2">
          <div class="status_title_text_border">
            <div class="status_title"><span title="translation missing: en.dashboard.kudos" class="translation_missing"><%= t('dashboard.kudos') %></span>
            </div>
            <div class="status_title_text"><%= pluralize(current_user.kudos_points, t('dashboard.kudos_points') ) %>
            </div>
          </div>
        </div>

        <div class="span2">
          <div class="status_title_text_border">
            <div class="status_title">Notifications</div>
            <div class="status_title_text"><%= pluralize(@trackers.count, "New Share") %> </div>
          </div>
        </div>

      </div>

    </div>
    
  </div>
  <%= form_tag delete_friends_url, :class => 'jQueryFriendArchiveForm', :remote => true do %>
    <div class="row-fluid db_box">
      <%= render :partial => 'friends' %>
    </div>
  <% end %>
  <%= form_tag accept_url, :class => 'jQueryFriendReqArchiveForm', :remote => true do %>
    <div class="row-fluid db_box">
      <%= render :partial => 'friends_requests' %>
    </div>
  <% end %>
</div>

<%= render :partial => 'my_activities' %>

<div id="membership_popup" style="width:300px;display:none;">
  <div class="row-fluid">
    <div class="span3">Users</div>
    <div class="span8"><%= User.count %></div>
  </div>
  <div class="row-fluid">
    <div class="span3">Location</div>
    <div class="span8"><%= Location.count %></div>
  </div>
  <div class="row-fluid">
    <div class="span3">Goal</div>
    <div class="span8"><%= Goal.count %></div>
  </div>

  <div class="row-fluid">
    <div class="span3">Deals</div>
    <div class="span8"><%= InsiderActivity.where('snapped IS NOT NULL').count %></div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($){
    $('input:checkbox').removeAttr('checked');
    
    $('.slider1').bxSlider({
      infiniteLoop: false,
      minSlides: 1,
      maxSlides: 3,
      slideWidth: 45,
      slideMargin: 5
    });

    $('.slider2').bxSlider({
      infiniteLoop: false,
      minSlides: 1,
      maxSlides: 3,
      slideWidth: 45,
      slideMargin: 5
    });

  });
  
</script>