<% @trackers.each do |tracker| %>
  <% suggestion = tracker.trackable %>
  <% share = Share.get_share(tracker).first %>
  <% suggestion_picture = suggestion.location.default_image(current_user, Suggestion.to_s) %>
  <% location = suggestion.location %>
  <div class="container insider_container_margin">
    <div class="row-fluid">
      <div class="insider_row">
        <div class="span3">
          <div class="insider_offer_image_div">
            <%= image_tag suggestion_picture.present? ? (suggestion_picture) : ('default_images/LocationBlank.png'), :id => "location-#{location.id}", :class => 'jQuery-Location-List', :title => tracker.get_share.comment if tracker.get_share.present? %>
          </div>
        </div>
        <div class="span4 sg-insider-details">
          <div class="insider_sug_title bold-font red-color margin-top18"><%= get_suggestion_title(suggestion) + " - Shared By #{share.present? ? (share.get_shared_user.full_name) : ('')}" %></div>
          <div class="insider_sug_title black-on-gray margin-top10">
            <%= suggestion.present? ? (suggestion.comments) : ('') %>
          </div>
          <div class="insider_sug_title bold-font margin-top10"><%= suggestion.when.strftime("%m/%d/%Y") %></div>
        </div>

        <div class="span3">
          <% if suggestion.url.present? %>
            <div class="insider_btn text_align_center">
              <%= link_to suggestion.customized_url, :class => 'btn1 snap_it_btn btn-info bold', :target => '_blank' do %>
                <%= "Learn More" %>
              <% end %>
            </div>
          <% end %>
          <div style='margin-top:10px; text-align:center;'>
            <%= link_to 'More Suggestions', more_shared_suggestions_insider_suggestions_path, :class => 'btn btn-info' %>
          </div>
        </div>

        <div class="span2 insider-share">
          <div class="insider_share_btn text_align_center">
            <%= custom_share_link(suggestion, new_insider_suggestion_suggestion_share_url(suggestion),
                                 'fancybox_iframe_large fancybox.iframe') %>
          </div>
        </div>

      </div>
    </div>
  </div>

<% if suggestion_picture.blank? %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
      Google_Map.street_view_service(<%= location.latitude %>, <%= location.longitude %>, <%= location.id %>);
    });
  </script>
<% end %>
<% end %>