<<<<<<< HEAD
<!-- Advanced preference -->

<%= form_for @user_question, :url => user_question_url, :method => :post do |f| %>
  <div class="container contaimer_profile_page jQueryadvPreference" style="display:none;">
    <div class="container">
      <div class="five_qq_img">
        <img alt="5_qq image" src="/assets/5_qq.png"/>
      </div>
      <div style="" class="adv_prefer_title"> To help insider give you even better offers!</div>
    </div>
    <div class="container adv_prefer_row">
      <div class="circle">1</div>
      <div class="adv_prefer_text">Rate the relative importance of your preferences</div>
      <div class="jQueryCategoryImages">
        <%#= render :partial => 'category_preferences' %>
      </div>
=======
<div class="container contaimer_profile_page jQueryadvPreference" style="display:none;" >
  <div class="container">
    <div class="five_qq_img">
      <img alt="5_qq image" src="/assets/5_qq.png"/>
    </div>
    <div style="" class="adv_prefer_title"> To help insider give you even better offers!</div>
  </div>

  <div class="container adv_prefer_row">
    <div class="circle">1</div>
    <div class="adv_prefer_text"><%= t(:rate_the_relative_importance_of_your_preferences)%></div>
    <div class="jQueryCategoryImages">
      <%= render :partial => 'category_preferences' %>
>>>>>>> user pref 3 questions are added
    </div>
  </div>

  <div class="container adv_prefer_row">
    <div class="circle">2</div>
    <div class="adv_prefer_text"><%= t(:When_do_offers_make_sense_of_you)%></div>
    <div class="rank_title"><%=  t(:ranking_board)%></div>
    <div class="rank_board">
      <div class="img_bord">
        <div style="text-align: center;">1</div>
        <div style="text-align: center;">
          <img alt="grove image" src="/assets/grove.png"/>
        </div>
        <div id="div1" ondrop="drop_calender(event)" ondragover="allowDrop(event)">
          <%= get_rank_options(@order_values, 0) %>
        </div>
<<<<<<< HEAD
        <div class="img_bord">
          <div style="text-align: center;">2</div>
          <div style="text-align: center;">
            <img alt="grove image" src="/assets/grove.png"/>
          </div>
          <div id="div2" ondrop="drop_calender(event)" ondragover="allowDrop(event)">
            <%#= get_rank_options(@order_values, 1) %>
          </div>
=======
      </div>
      <div class="prefer_vertical_small_div">
        <div class="prefer_divider-vertical_small"></div>
      </div>
      <div class="img_bord">
        <div style="text-align: center;">2</div>
        <div style="text-align: center;">
          <img alt="grove image" src="/assets/grove.png"/>
>>>>>>> user pref 3 questions are added
        </div>
        <div id="div2" ondrop="drop_calender(event)" ondragover="allowDrop(event)">
          <%= get_rank_options(@order_values, 1) %>
        </div>
<<<<<<< HEAD
        <div class="img_bord">
          <div style="text-align: center;">3</div>
          <div style="text-align: center;">
            <img alt="grove image" src="/assets/grove.png"/>
          </div>
          <div id="div3" ondrop="drop_calender(event)" ondragover="allowDrop(event)">
            <%#= get_rank_options(@order_values, 2) %>
          </div>
=======
      </div>
      <div class="prefer_vertical_small_div">
        <div class="prefer_divider-vertical_small"></div>
      </div>
      <div class="img_bord">
        <div style="text-align: center;">3</div>
        <div style="text-align: center;">
          <img alt="grove image" src="/assets/grove.png"/>
        </div>
        <div id="div3" ondrop="drop_calender(event)" ondragover="allowDrop(event)">
          <%= get_rank_options(@order_values, 2) %>
>>>>>>> user pref 3 questions are added
        </div>
      </div>
    </div>
    <hr class="rank_board_hr" style="width:200px;"/>
    <div class="rank_board_img_container" style="width:320px;">
      <div class="img_bord">
        <div id="div4" ondrop="drop_calender(event)" ondragover="allowDrop(event)">
          <%= check_for_question_image(@user_preference, "daily") %>
        </div>
      </div>
      <div class="img_bord">
        <div id="div5" ondrop="drop_calender(event)" ondragover="allowDrop(event)">
          <%= check_for_question_image(@user_preference, "weekly") %>
        </div>
      </div>
      <div class="img_bord">
        <div id="div6" ondrop="drop_calender(event)" ondragover="allowDrop(event)">
          <%= check_for_question_image(@user_preference, "monthly") %>
        </div>
      </div>
    </div>
    <div class="drag_drop_option"><%= t(:drag_and_drop_your_selection)%></div>
  </div>

  <div class="container adv_prefer_row">
    <div class="circle">3</div>
    <div class="adv_prefer_text">How much value do you place your friends recommendation?</div>
    <div class="row-fluid ap_slider_margin">
      <div class="span6">
        <div id="slider4"></div>
      </div>
      <div class="span4"> </div>
    </div>
  </div>

  <div class="container adv_prefer_row">
    <div class="circle">4</div>
    <div class="adv_prefer_text">If your friends have snapped a deal,how much should insider raise  its importance?</div>
    <div class="row-fluid ap_slider_margin">
      <div class="span6">
        <div id="slider5"></div>
      </div>
      <div class="span4"> </div>
    </div>
  </div>

  <div class="container adv_prefer_row">
    <div class="circle">5</div>
    <div class="adv_prefer_text">How important is deal proximity to you?</div>
    <div class="row-fluid ap_slider_margin">
      <div class="span6">
        <div id="slider6"></div>
      </div>
      <div class="span4"> </div>
    </div>
  </div>


<<<<<<< HEAD
=======

  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span5">
    </div>
    <div class="span4" style="text-align:right;">
      <div class="save_profile_btn clear" style="margin-bottom:25px;margin-right: 6px;">
        <div class="float_r">
          <%= link_to t(:cancel), @profile_user.default_landing_page , :class => "btn btn-info", :style => 'height:23px; margin-left:25px;margin-top:12px;width:64px;' unless @profile_user.user_preference.new_record? %>
        </div>
        <div class="float_r">
          <div style="clear: both;" class="save_profile_btn">
            <%= submit_tag t(:save), :id => 'jQueryAdvPreSave', :class => "btn btn-info", :style => 'margin-left:25px;margin-top:12px;width:87px;' %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
>>>>>>> user pref 3 questions are added
</div>


<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $("#slider1").find("div.ui-slider-range-min").css("width", "<%= slider_values(@slider_values, 1) %>");
    $("#slider1").find("a.ui-corner-all").css("left", "<%= slider_values(@slider_values, 1)%>");

    $("#slider2").find("div.ui-slider-range-min").css("width", "<%= slider_values(@slider_values, 2) %>");
    $("#slider2").find("a.ui-corner-all").css("left", "<%= slider_values(@slider_values, 2)%>");

    $("#slider3 > div").css("width", "<%= slider_values(@slider_values, 3) %>");
    $("#slider3").find("a").css("left", "<%= slider_values(@slider_values, 3)%>");

    $("#slider4").find("div.ui-slider-range-min").css("width", '<%= "#{@user_preference.question_3}%" %>');
    $("#slider4").find("a.ui-corner-all").css("left", '<%= "#{@user_preference.question_3}%" %>');

    $("#slider5").find("div.ui-slider-range-min").css("width", '<%= "#{@user_preference.question_4}%" %>');
    $("#slider5").find("a.ui-corner-all").css("left", '<%= "#{@user_preference.question_4}%" %>');

    $("#slider6").find("div.ui-slider-range-min").css("width", '<%= "#{@user_preference.question_5}%" %>');
    $("#slider6").find("a.ui-corner-all").css("left", '<%= "#{@user_preference.question_5}%" %>');

  });
  
</script>
