<% if @user.errors.size > 0 %>
  <div class="container" style="width: 80%">
    <div id="error_explanation">
      <h2>Errors</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="edit_profile_title"> Change Password</div>
</div>

<div class="container">

  <div class="row-fluid">
    <div class="span12 contaimer_profile_page">
      <%= form_for(@user, :url => update_password_user_url) do |f| %>
        <div style="margin-top: 5px;" class="">

          <div class="row-fluid">
            <div class="span3 control-label">Old
            </div>
            <div class="span5 profile_input_margin">
              <%= f.password_field :current_password, :class => "profile_input", :maxlength => 32 %> <br/>
            </div>
            <div class="span4"> </div>
          </div>

          <div style="margin-left:205px;">
            <p id="OldPasswordError" class="sg_acc_info_error1 error" style="display:none;">&nbsp;</p>
          </div>
          <hr/>

          <div class="row-fluid">
            <div class="span3 control-label"> New</div>
            <div class="span5 profile_input_margin">
              <%= f.password_field :password, :autocomplete => "off", :class => "profile_input", :maxlength => 32 %>
            </div><div class="span4"> </div>
          </div>

          <div style="margin-left:205px;">
            <p id="ChangePasswordError" class="sg_acc_info_error1 error" style="display:none;">&nbsp;</p>
          </div>
          <hr />
          <div class="row-fluid">
            <div class="span3 control-label">New, Again
            </div>
            <div class="span5 profile_input_margin">
              <%= f.password_field :password_confirmation, :class => "profile_input", :maxlength => 32 %>
            </div>
            <div class="span4"> </div>
          </div>
          <div style="margin-left:205px;">
            <p id="ChangePasswordConfirmError" class="sg_acc_info_error1 error" style="display:none;">&nbsp;</p>
          </div>
          <hr />

          <div class="row-fluid">
            <div class="span6">
            </div>
            <div class="span6">
              <div class="span6"></div>
              <div class="span3">
                <%= f.submit t(:save), :id => "savechagedpassword", :class => "btn btn-info addfriend_btn_margin savebtn" %>
              </div>
              <div class="span3">
                <%= link_to t(:cancel), new_user_profile_url, :class => "btn btn-info addfriend_btn_margin cancelbtn" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


