<div class="edit_profile_title"> Edit Preferences</div>
<div class="container contaimer_profile_page">
  <div class="container">
    <div class="prefer_first_row">
      <span style="width: 270px;float: left;">
        <label class="control-label prefer_show_text" for="inputEmail">First Show Me</label>
      </span>
      <span style="width: 300px;float: left;">
        <a class="prefer_assist_icon" href="#"></a>
        <a class="prefer_insider_icon" href="#"></a>
        <a class="prefer_sidekick_icon" href="#"></a>
      </span>
    </div>
    <hr class="profile_hr"/>
    <div class="prefer_show_row">
      <div style="width: 29%;float: left;">
        <div class="prefer-label">Show me offers</div>
        <div class="prefer_help"><a class="" href="#"></a></div>
      </div>
      <div style="width: 55%;float: left;">
        <div class="offers_img">
          <%= image_tag '/assets/sports.png', :alt => "sports image", :style => 'max-width: 100px;max-height: 100px;' %>
        </div>
        <div class="offers_img">
          <%= image_tag '/assets/running.png', :alt => "running image", :style => 'max-width: 100px;max-height: 100px;' %>
        </div>
        <div class="offers_img">
          <%= image_tag '/assets/museum.png', :alt => "museum image", :style => "max-width: 100px;max-height: 100px;" %>
        </div>
      </div>
      <div style="width: 15%;float: right;">
        <a class="btn btn-info prfer_change_btn">Change</a>
      </div>
    </div>
    <hr class="profile_hr">
    <div class="prefer_show_row">
      <div style="float: left;">
        <div class="prefer-label">Suggest to me</div>
        <div class="prefer_help"><a class="" href="#"></a></div>
      </div>
      <div style="width: 500px;float: left;">
        <div class="offers_img">
          <%= image_tag "/assets/hotel.png", :alt => "hotel image", :style => "max-width: 100px;max-height: 100px;" %>
        </div>
        <div class="offers_img">
          <%= image_tag "/assets/recreation.png", :alt => "recreation image", :style => "max-width: 100px;max-height: 100px;" %>
        </div>
        <div class="offers_img">
          <%= image_tag "/assets/children.png", :alt => "children image", :style => "max-width: 100px;max-height: 100px;" %>
        </div>
      </div>
      <a class="btn btn-info prfer_change_btn">Change</a>
    </div>
    <hr class="profile_hr">
    <div class="prefer_show_row">
      <div style="float: left;">
        <div class="prefer-label">I deserve</div>
        <div class="prefer_help"><a class="" href="#"></a></div>
      </div>
      <div class="offers_img">
        <%= image_tag "/assets/island.png", :alt => "island image", :style => "max-width: 100px;max-height: 100px;" %>
      </div>
      <a class="btn btn-info prfer_change_btn">Change</a>
    </div>
    <hr class="profile_hr">
    <div>
      <label class="control-label prfer_repeat" for="inputEmail">Repeat experience</label>
      <input class="prefer_chkbox" type="checkbox">
    </div>
    <hr class="profile_hr">
    <div style="height:65px;">
      <div style="float: left;">
        <div class="prefer-label prefer_suggest_margin">Show me <br>on my map</div>
        <div class="prefer_help prefer_suggest_margin"><a class="" href="#"></a></div>
      </div>
      <div class="prefer_icons"> <%= image_tag "/assets/icon_gs.png", :alt => "children image" %> </div>
      <div class="prefer_icons"> <%= image_tag "/assets/icon_gs.png", :alt => "children image" %> </div>
      <div class="prefer_icons"> <%= image_tag "/assets/icon_gs.png", :alt => "children image" %> </div>
      <div class="divde_vertical_div">
        <div class="profile_divider-vertical"></div>
      </div>
      <div class="prefer_icons"> <%= image_tag "/assets/icon_gs.png", :alt => "children image" %> </div>
    </div>
    <hr class="profile_hr hidden-phone"/>
    <div style="height: 60px;">
      <div style="width: 300px;">
        <label class="control-label">5 Quick Questions</label>
      </div>
      <div style="width: 40%;margin-top: 18px;float: left;">
        <div class="progress prefer_prog_height progress-success">
          <div class="bar progress_bar_width">
            <div class="profress_bar_text">70% complete</div>
          </div>
        </div>
      </div>
      <a class="btn btn-info prefer_save_btn">Save Profile</a>
    </div>
    <hr class="profile_hr hidden-phone prefer_hr_marg">
  </div>
</div>
</div>

