<li> <a href="<%= privacy_url %>"><%= t(:privacy) %></a> | </li>
<li><a href="<%= terms_of_use_url %>"><%= t(:terms_of_use) %></a> | </li>
<li><a href="<%= faq_url %>"><%= t(:faq) %></a> | </li>
<!-- <li><a href="<%#= about_us_url %>"><%#= t(:about_us) %></a> | </li> -->
<li><a href="<%= contact_us_url %>"><%= t(:contact_us) %></a> | </li>
<li><a href="<%= advertise_url %>">Advertise</a></li>