<div class="popup-container black-on-gray" style="margin-top:15px;">
  <%= form_for [:sidekick, @suggestion, @share], :url => insider_suggestion_suggestion_shares_path(@suggestion, @share) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <fieldset class="fieldset-border" style="padding:18px 45px 25px 45px;">
      <legend>
        <h2 class="sg-legend-margin">
          <%= "Share Your Suggestion Of" %>&nbsp;<%= raw @suggestion.name %>
        </h2>
      </legend>
      <div class="row-fluid">
        <div class="span2">
          <%= image_tag @suggestion.photos.present? ? (@suggestion.photos.first.image_url(:standard_image)) : ('') , {:class => "share_btn_big image"} %>
        </div>

        <div class="span10">
          <div class="row-fluid">
            <div class="span3 bold-font">Comment</div>
            <div class="span9">
              <%= f.text_field :comment, :class => "span12", :placeholder => 'Add a comment..' %>
              <%= custom_error_message_no_margin(@share, :comment) %>
            </div>
          </div>
          <br />

          <div class="row-fluid">
            <div class="span3 bold-font"><%= "Why" %></div>
            <div class="span9">
              <%= @suggestion.comments %>
            </div>
          </div>
          <br />

          <div class="row-fluid">
            <div class="span3 bold-font"><%= "When" %></div>
            <div class="span9"><%= l @suggestion.when.to_date %></div>
          </div>
          <br />

          <div class="row-fluid">
            <div class="span3 bold-font">Tell A Friend</div>
            <div class="span9">
              <%= f.select :trackers, @friends.map { |user| [user.full_name, user.id] }, {:prompt => false}, {:multiple => true, :class => "span4"} %>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="float_r category-btn-margin" style="">
            <a class="btn btn-info cancelbtn jQueryFancyboxIframeClose" href="#"><%= t('cancel')%></a>
          </div>

          <div class="float_r">
            <button class="btn btn-info savebtn"><%= t 'share.share'%></button>
          </div>
        </div>

      </div>

    </fieldset>
  <% end %>
</div>


