<% content_for :google_map do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <%= javascript_include_tag 'google_map/obj' %>
<% end %>

<div class="popup-container drilldown-border-top">
  <div class="row-fluid" style="padding:6px;">
    <div class="span6" style="width:45%">
      <!--<div class="sd-images-1 jQuery-Location-Photo"> -->
        <%= render :partial => 'location_picture' %>
      <!--</div> -->
      <div class="sd-images-1">
        <%= get_static_map(@location, nil, 169, 143) %>
      </div>

    </div>
    <div class="span3 address">
      <div class="text"><%= @location.name %></div>
      <div class="text"><%= @location.full_address %></div>
      <div style="margin: 5px;" class="share_img">
        <%= link_to "Delete", archive_sidekick_location_path(@location, :location_list_id => @location_list.id), :class => 'btn btn-info', :confirm => 'Are You Sure?' if current_user.locations.map(&:id).include?(@location.id) && !current_user.my_passionate_location?(@location) %>
      </div>
    </div>
    <div class="span2 address ">
      <div class=" sidekick_drill_title">Reviews</div>
      <div class="progress sk_progress_height1">
        <div class="bar bar-success" style="width: <%= "#{get_review_percentage(@my_and_friends_reviews.with_comment.count, (@my_and_friends_reviews.with_comment.count + @snapgadget_reviews.with_comment.count))}%" %>;">
          <div class="sk_profress_bar_text1"><%= @my_and_friends_reviews.with_comment.count %></div>
        </div>
        <div class="bar progress-info" style="width:<%= "#{get_review_percentage(@snapgadget_reviews.with_comment.count, (@my_and_friends_reviews.with_comment.count + @snapgadget_reviews.with_comment.count))}%" %>;">
          <div class="sk_profress_bar_text1"><%= @snapgadget_reviews.with_comment.count %></div>
        </div>
      </div>
    </div>
    <div class="span1 address" style="width:10%; margin-left: 0">
      <div style="padding-left: 15px;" class="sidekick_drill_title">Popular?</div>
      <div style="margin-bottom: 12px;" class="row-fluid">
        <div class="sidekick_drill_progress_bar">
          <div class="isdd_pinboard">
            <div class="db_location_score"><%= @popular_locations.count %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => 'all_reviews' %>

<% if @location.location_pics.blank? %>
  <script type="text/javascript">
    Google_Map.street_view_service(<%= @location.latitude %>, <%= @location.longitude %>, <%= @location.id %>, '');
  </script>
<% end %>

